$containerBorderColor: #6C757D;

@mixin page-width {
  max-width: 92%;
  margin: 0 auto;
}

@mixin h1-container {
  padding-top: 50px;
  padding-bottom: 30px;

  h1 {
    font-weight: bold;
  }
}

@mixin container-border {
  border-top: solid 1px $containerBorderColor;
}

@mixin image-container {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: $containerBorderColor;
  overflow: hidden;


  img {
    height: 100%;
    display: block;
    margin: 0 auto;
  }
}
