<template>
    <b-navbar :sticky="true" toggleable="lg" type="dark" variant="dark">
      <b-navbar-brand href="#">Finfort</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item to="/">Сотрудники</b-nav-item>
          <b-nav-item to="/professions">Профессии</b-nav-item>
          
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator";

@Component({})
export default class Navbar extends Vue {}
</script>

<style lang="scss">
</style>