<template>
  <div class="staff-member-search">
    <b-form-input v-model="text" placeholder="Посик по фамилии"></b-form-input>
    <div v-if="find != null" class="staff-member-search__container">
      <div class="">
        <div
          class="staff-member-search__item"
          v-for="(item, i) of find"
          :key="'finded_staff_member_' + i"
          @click="toStaff(item.id)"
        >
          <div class="staff-member-search__image-container">
            <img :src="item.src" alt="" />
          </div>
          <span>{{ `${item.name} ${item.surname}` }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator";
import { StaffMember as StaffMemberSchema } from "@/types/staffMember";
import { staffMemberStore, professionStore } from "~/store";

@Component({})
export default class StaffMemberSearch extends Vue {
  public text: string = "";

  get staffMembers(): Array<StaffMemberSchema> {
    return staffMemberStore.STAFF_MEMBERS;
  }

  get find(): Array<StaffMemberSchema> | null {
    if (this.text.length < 2) {
      return null;
    }
    let arr: Array<StaffMemberSchema> = this.staffMembers.filter((elem) => {
      return elem.surname.indexOf(this.text) != -1;
    });

    return arr.length == 0 ? null : arr;
  }

  public toStaff(id: string): void {
    if (process.client) {
      location.hash = "#staff_member_" + id;
    }
    this.text = "";
  }
}
</script>

<style lang="scss">
.staff-member-search {
  &__container {
    height: 300px;
    background-color: #fff;
    margin-top: 5px;
    margin-bottom: -305px;
    overflow-y: scroll;
    position: relative;
    z-index: 1;
    padding: 5px;
    border: $containerBorderColor solid 1px;
    border-radius: 15px;
    box-shadow: 0 0 15px 1px $containerBorderColor;
  }

  &__item {
    display: grid;
    grid-template-columns: 60px 1fr;
    padding: 5px 0 5px 0;
    align-items: center;
    cursor: pointer;
  }

  &__image-container {
    @include image-container;
  }
}
</style>