<template>
  <div class="staff-member-item">
    <a :name="'staff_member_' + staffMember.id"></a>
    <StaffMemberForm
      type="update"
      okTitle="изменить"
      title="Изменить данные"
      :id="'edit-staff-form-' + staffMember.id"
      :form="staffMember"
    />
    <div class="staff-member-item__top">
      <div class="staff-member-item__avatar-container">
        <img :src="staffMember.img" alt="" class="staff-member-item__avatar" />
      </div>
      <div class="staff-member-item__title">
        {{ `${staffMember.name}  ${staffMember.surname}` }}
      </div>
      <div class="staff-member-item__controls">
        <b-button-group>
          <b-button variant="warning" @click="deleteStaff()">Удалить</b-button>
          <b-button
            variant="success"
            v-b-modal="'edit-staff-form-' + staffMember.id"
            >Изменить</b-button
          >
          <b-button v-b-toggle="`staff_member_item_${staffMember.id}`"
            >Развернуть</b-button
          >
        </b-button-group>
      </div>
    </div>
    <b-collapse :id="`staff_member_item_${staffMember.id}`" class="mt-2">
      <b-card>
        <div class="staff-member-item-info-container">
          Имя:
          {{ staffMember.name }}
        </div>
        <div class="staff-member-item-info-container">
          Фамилия:
          {{ staffMember.surname }}
        </div>
        <div class="staff-member-item-info-container">
          Дата рождения:
          {{ formatedDate }}
        </div>
        <div class="staff-member-item-info-container">
          Профессия:
          {{ professionById }}
        </div>
      </b-card>
    </b-collapse>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator";
import { StaffMember as StaffMemberSchema } from "@/types/staffMember";
import { staffMemberStore, professionStore } from "~/store";

import StaffMemberForm from "./tStaffMemberForm.vue";

@Component({
  components: {
    StaffMemberForm,
  },
})
export default class StaffMemberItem extends Vue {
  @Prop({
    default: () => {
      return {} as StaffMemberSchema;
    },
  })
  staffMember!: StaffMemberSchema;

  get formatedDate(): string {
    const d = this.staffMember.date_of_birth;
    return `${d[8]}${d[9]}.${d[5]}${d[6]}.${d[0]}${d[1]}${d[2]}${d[3]}г.`;
  }

  get professionById(): string {
    
    let name: string | undefined = professionStore.PROFESSIONS.find((elem) => {
      if (elem.id == +this.staffMember.profession_id) {
        return true;
      }
    })?.name;
    return name === undefined ? "" : name;
  }

  public async deleteStaff(): Promise<void> {
    await staffMemberStore.DELETE_STAFF_MEMBER(this.staffMember.id);
    await staffMemberStore.GET_STAFF_MEMBERS();
  }
}
</script>

<style lang="scss">
.staff-member-item {
  padding: 5px 0 5px 0;
  @include container-border;
  &__top {
    display: grid;
    align-items: center;
    grid-template-columns: 60px 1fr 300px;
    grid-gap: 10px;
  }

  &__avatar-container {
    @include image-container;
  }

  &__controls {
    margin: 0 0 0 auto;
  }
}
@media (max-width: 748px) {
  .staff-member-item {
    &__top {
      grid-template-columns: 60px 1fr;
    }

    &__controls {
      grid-column-start: 1;
      grid-column-end: 3;
      margin: 0 0 0 0;
    }
  }
}
</style>