<template>
  <b-modal
    :id="id"
    :title="title"
    :ok-title="okTitle"
    :cancel-title="сancelTitle"
    @ok="submit()"
  >
    <b-form-group
      label="Имя"
      label-for="input-1"
      invalid-feedback="Введите корректное имя"
      :state="nameError"
    >
      <b-form-input id="name-input" v-model="form.name" trim></b-form-input>
    </b-form-group>

    <b-form-group
      label="Фамилия"
      label-for="surname-input"
      invalid-feedback="Введите корректную фамилию"
      :state="surnameError"
    >
      <b-form-input
        id="surname-input"
        v-model="form.surname"
        trim
      ></b-form-input>
    </b-form-group>

    <b-form-group label="Профессия" label-for="prof" :state="true">
      <b-form-select
        id="prof"
        :value="form.profession_id"
        @change="setProfession"
        :options="options"
      ></b-form-select>
    </b-form-group>

    <div>
      <label for="staff-datepicker">Дата рождения</label>
      <b-form-datepicker
        id="staff-datepicker"
        v-model="form.date_of_birth"
        class="mb-2"
      ></b-form-datepicker>
    </div>

    <div class="">
      <label for="staff-datepicker">Изображение</label>
      <b-form-file
        v-model="form.img"
        accept="jpg, png, svg"
        :state="true"
        placeholder="Выберите файл изображения"
        drop-placeholder="Перетащите файл сюда"
      ></b-form-file>
    </div>
  </b-modal>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator";
import { StaffMember as StaffMemberSchema } from "@/types/staffMember";
import { staffMemberStore, professionStore } from "@/store";

@Component({})
export default class StaffMemberForm extends Vue {
  @Prop({
    default: () => {
      return {} as StaffMemberSchema;
    },
  })
  form!: StaffMemberSchema;
  @Prop() id!: string;
  @Prop({ default: "подтвердить" }) okTitle!: string;
  @Prop({ default: "отмена" }) сancelTitle!: string;
  @Prop({ default: "Добавить сотрудника" }) title!: string;
  //add or update
  @Prop({ default: "add" }) type!: string;

  get options(): Array<{ value: string; text: string }> {
    let arr: Array<{ value: string; text: string }> = [];

    professionStore.PROFESSIONS.forEach((elem) => {
      arr.push({
        value: String(elem.id),
        text: elem.name,
      });
    });

    return arr;
  }

  selectedProfession: any;

  get nameError(): boolean {
    if (
      this.form.name == undefined ||
      this.form.name == null ||
      this.form.name.length > 2 ||
      this.form.name.length == 0
    ) {
      return true;
    }
    return false;
  }

  get surnameError(): boolean {
    if (
      this.form.surname == undefined ||
      this.form.surname == null ||
      this.form.surname.length > 2 ||
      this.form.name.length == 0
    ) {
      return true;
    }
    return false;
  }

  public setProfession(id: string) {
    this.form.profession_id = id;
  }

  async imgToBase(img: File): Promise<any> {
    const reader = new FileReader();
    reader.readAsDataURL(img);
    return reader.result;
  }

  async submit(): Promise<void> {
    if (
      !this.nameError ||
      !this.surnameError ||
      this.form.surname == undefined ||
      this.form.name == undefined ||
      this.form.profession_id == undefined ||
      this.form.date_of_birth == undefined ||
      this.form.date_of_birth.length != 10
    ) {
      return;
    }

    let form = new FormData();
    form.append("id", String(this.form.id));
    form.append("name", this.form.name);
    form.append("surname", this.form.surname);
    form.append("date_of_birth", this.form.date_of_birth);
    form.append("profession_id", this.form.profession_id);
    form.append("img", this.form.img);

    if (this.type == "add") {
      await staffMemberStore.ADD_STAFF_MEMBER(form);
    }
    if (this.type == "update") {
      await staffMemberStore.UPDATE_STAFF_MEMBER(form);
    }

    await staffMemberStore.GET_STAFF_MEMBERS();
  }

  created() {
    if (!this.form.profession_id) {
      this.form.profession_id = String(
        this.options[0] ? this.options[0].value : ""
      );
    }
  }
}
</script>

<style lang="scss">
</style>