<template>
  <div class="default">
    <Navbar />
    <div class="default__body">
      <Nuxt />
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator";
import Navbar from "@/components/common/tNavbar.vue";

@Component({
  components: {
    Navbar,
  },
})
export default class Default extends Vue {}
</script>

<style lang="scss">
.default {
  &__body{
    @include page-width;
  }
}
</style>
