<template>
  <div class="index">
    <StaffMemberForm id="add-staff-form" />
    <div class="index__top">
      <h1 class="index__title">Сотрудники:</h1>
      <div class="index__top-button">
        <b-button v-b-modal="'add-staff-form'" variant="primary"
          >Добавить сотрудника <b>+</b></b-button
        >
      </div>
    </div>
    <div class="index__search-container" v-show="staffMembers.length != 0">
      <StaffMemberSearch />
    </div>
    <StaffMemberItem
      v-for="(item, i) of staffMembers"
      :key="'stadd_member_' + i"
      :staffMember="item"
    />
    <p v-show="staffMembers.length == 0">Пусто...</p>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";

import StaffMemberItem from "@/components/staffMember/tStaffMemberItem.vue";
import StaffMemberForm from "@/components/staffMember/tStaffMemberForm.vue";
import StaffMemberSearch from "@/components/staffMember/tStaffMemberSearch.vue";
import { staffMemberStore, professionStore } from "@/store";
import { StaffMember as StaffMemberSchema } from "@/types/staffMember";

@Component({
  components: {
    StaffMemberItem,
    StaffMemberForm,
    StaffMemberSearch,
  },
})
export default class Index extends Vue {
  get staffMembers(): Array<StaffMemberSchema> {
    return staffMemberStore.STAFF_MEMBERS;
  }

  async fetch() {
    await staffMemberStore.GET_STAFF_MEMBERS();

    if (professionStore.PROFESSIONS.length == 0) {
      await professionStore.GET_PROFESSIONS();
    }
  }
}
</script>

<style lang="scss">
.index {
  &__top {
    @include h1-container;
    display: grid;
    grid-template-columns: 1fr 250px;
    align-items: center;
  }

  &__search-container {
    margin: 0 auto 30px auto;
    max-width: 360px;
  }

  &__top-button {
    display: inline-block;
    line-height: 1;
    margin: 0 0 0 auto;
  }
}
@media (max-width: 748px) {
  .index {
    &__top {
      grid-template-columns: 1fr;
      align-items: flex-start;
      justify-items: center;
      grid-gap: 15px;
    }

    &__top-button {
      margin: 0 auto 0 auto;
    }
  }
}
</style>
