<template>
  <div class="profession">
    <ProfessionForm id="add-profession" />
    <div class="profession__top">
      <h1 class="profession__title">Профессии:</h1>
      <div class="profession__top-button">
        <b-button v-b-modal="'add-profession'" variant="primary"
          >Добавить профессию <b>+</b></b-button
        >
      </div>
    </div>
    <ProfessionItem
      v-for="(profession, i) of professions"
      :key="'profession_item_' + i"
      :profession="profession"
    />
    <p v-show="professions.length == 0">Пусто...</p>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";
import ProfessionItem from "@/components/profession/tProfessionItem.vue";
import ProfessionForm from "@/components/profession/tProfessionForm.vue";

import { professionStore } from "@/store";
import { Profession as ProfessionSchema } from "@/types/profession";

@Component({
  components: {
    ProfessionItem,
    ProfessionForm,
  },
})
export default class Professions extends Vue {
  get professions(): Array<ProfessionSchema> {
    return professionStore.PROFESSIONS;
  }

  async fetch() {
    await professionStore.GET_PROFESSIONS();
  }
}
</script>

<style lang="scss">
.profession {
  &__top {
    @include h1-container;
    display: grid;
    grid-template-columns: 1fr 250px;
    align-items: center;
  }

  &__top-button {
    display: inline-block;
    line-height: 1;
    margin: 0 0 0 auto;
  }
}
@media (max-width: 748px) {
  .profession {
    &__top {
      grid-template-columns: 1fr;
      align-items: flex-start;
      justify-items: center;
      grid-gap: 15px;
    }

    &__top-button {
      margin: 0 auto 0 auto;
    }
  }
}
</style>
