<template>
  <b-modal
    :id="id"
    :title="title"
    :ok-title="okTitle"
    :cancel-title="сancelTitle"
    @ok="submit()"
  >
    <b-form-group
      label="Название"
      label-for="input-1"
      invalid-feedback="Введите корректную профессию"
      :state="nameError"
    >
      <b-form-input id="name-input" v-model="form.name" trim></b-form-input>
    </b-form-group>
  </b-modal>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator";
import { Profession as ProfessionSchema } from "@/types/profession";
import { professionStore } from "@/store";

@Component({})
export default class ProfessionForm extends Vue {
  @Prop({
    default: () => {
      return {} as ProfessionSchema;
    },
  })
  form!: ProfessionSchema;
  @Prop() id!: string;
  @Prop({ default: "подтвердить" }) okTitle!: string;
  @Prop({ default: "отмена" }) сancelTitle!: string;
  @Prop({ default: "Добавить профессию" }) title!: string;
  //add or update
  @Prop({ default: "add" }) type!: string;

  get nameError(): boolean {
    if (
      this.form.name == undefined ||
      this.form.name == null ||
      this.form.name.length > 2 ||
      this.form.name.length == 0
    ) {
      return true;
    }
    return false;
  }

  isProffesionNew(): boolean {
    let data: ProfessionSchema | undefined = professionStore.PROFESSIONS.find(
      (elem) => {
        if (elem.name == this.form.name) {
          return true;
        }
      }
    );

    return data == undefined;
  }

  async submit(): Promise<void> {
    if (
      !this.nameError ||
      this.form.name == undefined ||
      !this.isProffesionNew()
    ) {
      return;
    }

    if (this.type == "add") {
      await professionStore.ADD_PROFESSION(this.form);
    }
    if (this.type == "update") {
      await professionStore.UPDATE_PROFESSION(this.form);
    }

    await professionStore.GET_PROFESSIONS();
  }
}
</script>

<style lang="scss">
</style>