<template>
  <div class="profession-item">
    <ProfessionForm
      type="update"
      okTitle="изменить"
      title="Изменить данные"
      :id="'edit-profession-form-' + profession.id"
      :form="profession"
    />
    <div class="profession-item__top">
      <div class="profession-item__title">
        {{ profession.name }}
      </div>
      <div class="profession-item__controls">
        <b-button-group>
          <b-button variant="warning" @click="deleteProfession()"
            >Удалить</b-button
          >
          <b-button
            variant="success"
            v-b-modal="'edit-profession-form-' + profession.id"
            >Изменить</b-button
          >
        </b-button-group>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator";
import { Profession as ProfessionSchema } from "@/types/profession";

import ProfessionForm from "./tProfessionForm.vue";
import { professionStore } from "~/store";

@Component({
  components: {
    ProfessionForm,
  },
})
export default class ProfessionItem extends Vue {
  @Prop({
    default: () => {
      return {} as ProfessionSchema;
    },
  })
  profession!: ProfessionSchema;

  public async deleteProfession(){
    await professionStore.DELETE_PROFESSION(this.profession.id);
    await professionStore.GET_PROFESSIONS();
  }
}
</script>

<style lang="scss">
.profession-item {
  padding: 5px 0 5px 0;
  @include container-border;
  &__top {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 250px;
    grid-gap: 10px;
  }

  &__controls {
    margin: 0 0 0 auto;
  }
}
@media (max-width: 748px) {
  .profession-item {
    &__top {
      grid-template-columns: 60px 1fr;
    }

    &__controls {
      grid-column-start: 1;
      grid-column-end: 3;
      margin: 0 0 0 0;
    }
  }
}
</style>